extends ../../_component/layout/template

block cool-config
  -
     var myTitle = "CSS Borders";
     var myDescription = "Learn CSS Borders with CodeTap, don't use w3schools.";
     var landingPage = "CSS";
     var activeLink = "/css/borders";

block not-awesome-content
  h1 CSS Borders
  h3.sub-title The CSS border properties allow you to specify the style, width, and color of an element's border.
  h5 The border-style property specifies what kind of border to display.
  h5 The following values are allowed:
  p &#9679; #[span.code dotted] - Defines a dotted border
  p &#9679; #[span.code dashed] - Defines a dashed border
  p &#9679; #[span.code solid] Defines a solid border
  p &#9679; #[span.code double] - Defines a double border
  p &#9679; #[span.code groove] - Defines a 3D grooved border. The effect depends on the border-color value
  p &#9679; #[span.code ridge] - Defines a 3D ridged border. The effect depends on the border-color value
  p &#9679; #[span.code inset] - Defines a 3D inset border. The effect depends on the border-color value
  p &#9679; #[span.code outset] - Defines a 3D outset border. The effect depends on the border-color value
  p &#9679; #[span.code none] - Defines no border
  p &#9679; #[span.code hidden] - Defines a hidden border
  p The border-style property can have from one to four values (for the top border, right border, bottom border, and the left border).
