extends ../_component/layout/template

block cool-config
  -
     var myTitle = "Learn HTML";
     var myDescription = "Learn HTML Paragraphs with CodeTap, don't use w3schools.";
     var landingPage = "HTML";
     var activeLink = "";

block not-awesome-content
  h1 HTML5 Tutorial
  h3.sub-title HTML tags are element names surrounded by angle brackets:
  p HTML #[span.code #{"<!DOCTYPE html>"}] is the standard markup language for creating Web pages.
  p The #[span.code text heere] declaration defines this document to be HTML5.
  p The #[span.code text heere] element is the root element of an HTML page.
  p The #[span.code text heere] element contains meta information about the document.
  p The #[span.code text heere] element specifies a title for the document.
  p The #[span.code text heere] element contains the visible page content.
  p The #[span.code text heere] element defines a large heading.
  p The #[span.code text heere] element defines a paragraph.
  h4 &#9679; HTML tags normally come in pairs like #{"<p>"} and #{"</p>"}.
  h4 &#9679; The first tag in a pair is the start tag, the second tag is the end tag.
  h4 &#9679; The end tag is written like the start tag, but with a forward slash inserted before the tag name.
