extends ../../_component/layout/template

block cool-config
  -
     var myTitle = "HTML Comments";
     var myDescription = "Learn HTML Comments with CodeTap, don't use w3schools.";
     var landingPage = "HTML";
     var activeLink = "/html/comments";

block not-awesome-content
  h1 HTML Comments
  p Comment tags are used to insert comments in the HTML source code.
  h3.sub-title You can add comments to your HTML source by using the following syntax:
  p.code #{"<!--"} Write your comments here #{"-->"}
  p Notice that there is an exclamation point (!) in the opening tag, but not in the closing tag.
  h3.sub-title Note: Comments are not displayed by the browser, but they can help document your HTML source code.
  p &#9679; With comments you can place notifications and reminders in your HTML.
  p &#9679; Comments are also great for debugging HTML, because you can comment out HTML lines of code, one at a time, to search for errors.
