extends _component/layout/template

block cool-config
  -
     var myTitle = "w3-schools replica - CodeTap";
     var myDescription = "My w3-schools replica aka CodeTap project";
     var landingPage = "Home";
     var activeLink = "";

block not-awesome-content
  h1 This is a replica of w3schools
  p.slogan THE WORLD'S LARGEST WEB DEVELOPER SITE
  h1 HTML
  p The language for building web pages #[a.link(href="/html") right here].
  h1 CSS
  p The language fors styling web pages #[a.link(href="/html") right here].
  h1 JavaScript
  p The language for programming web pages #[a.link(href="/html") right here].
